*{
  margin: 0;
  padding: 0;
}

.slide{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
}
.chuyen-slide{
  width: 9999px;
  transition: all 0.5s;
}
img{
  width: 1000px;
  height: 400px;
  float:left;
}
.dieuhuong{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 48%;
  padding-left: 20px;
}
.dieuhuong i:last-child{
  position: relative;
  left: 880px;
}