
    .phukienmoi{
                border-top: 1px solid black;

    }
    .hieuung{
        height:200px;
        margin-left:100px;
    }
    .hieuung:hover{
        cursor:pointer;
        border:thin;
        border-color:black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
          
    }
    .khung{
        text-align:center;
        padding:7px;
        margin:10px;
    }
